*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato', sans-serif;
    color: #523e3e;
    height: 100vh; 
    font-size:10px /* about 10px */ 
}

/* header */ 

h1 {
    display: none;
}

/* main */ 

main {
    margin: 0 2vh;
}

/* Container */ 

#game-round {
    
    min-width: 100%;
    min-height: 100%;
    border: 10px solid transparent; 
    border-image: linear-gradient( rgb(143, 113, 15), rgb(94, 49, 3), rgb(215, 163, 18), rgb(194, 185, 50));
    border-image-slice: 10;
}

/* Links */ 

a {
    font-size: 2vh; 
    color: #362f2f;
}

a:hover {
    text-decoration: none;
    color: #3d3130;
}

.icons, #dotP1, #dotP2 {
    width: 3vh;
}

/* Players */ 

h2 {
    font-size: 4.5vh; 
}
.printPlayer {
    width: 100%;
}

#dotP1, #dotP2 {
    width: 2vh;
    display: none;
}

/* Global */ 

.globalScore {
    font-size: 10vh;
    font-weight: lighter;
    color: #E5383B;
}

/* Round */ 

.bg-card {
    background-color: #E5383B;
    border-radius: 0%;
    color: #161A1D;
    width: 15vh;
    height: 12vh;
}

h3 {
    font-size: 1.5vh;
    font-weight: bold;
}

#roundScoreP1, #roundScoreP2{
    font-size: 3vh;
}

/* Message displaying the winner */ 

#bestWinner {
    font-size: 1rem;
    font-weight: bold;
    color: #BA181B;
}




/* Media queries */ 
 

/* *  Portrait orientation*/ 

@media screen and (orientation: portrait) {
    body {
      width:100vh;
  
      -webkit-transform: rotate(-90deg);
      -moz-transform: rotate(-90deg);
      -o-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
      transform: rotate(-90deg);
    }
  }


/*  Mobile phones : landscape orientation  */ 

@media only screen and (min-width: 560px) and (orientation: landscape) {

    main {
        margin: 0 1vh; 
    }
    a {
        font-size: 4vh; 
    }
    .icons, #dotP1, #dotP2 {
        width: 3vh;
    }
    h2 {
        font-size: 6vh; 
    }
    .globalScore {
        font-size: 14vh;
    }
    .bg-card {
        width: 25vh;
        height: 22vh;
    }
    h3 {
        font-size: 2vh;
    }
    #roundScoreP1, #roundScoreP2{
        font-size: 5vh;
    }
}


/*   Mobile phones Tablets Netbooks   */ 

@media only screen and (min-width: 700px) and (orientation: landscape) {

    main {
        margin: 0vh 3vh; 
    }
    h3 {
        font-size: 2vh;
    }
}


/** Tablets, laptops and computers  */ 

@media only screen and (min-width: 992px) and (orientation: landscape) { 

    #game-round {
        border: 20px solid transparent;
        border-image: linear-gradient( rgb(143, 113, 15), rgb(94, 49, 3), rgb(215, 163, 18), rgb(194, 185, 50));
        border-image-slice: 30;
    }
    a {
        font-size: 3vh; 
    } 
    .icons {
        width: 3.5vh;
    }
    .bg-card {
        width: 23vh;
        height: 16vh; 
    } 
    #bestWinner {
        font-size: 2rem;
    }
}
